{% set pageTitle = "  Select the reason for moving to PIPCS - PIP Service" %}
{% extends "layouts/pips-nav.html" %}



{% block containerStart %}{% endblock %}

{% block content %}

<form class="form" action="/v1/move-to-pipcs/select-reason" method="post">

   {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "pipcs-move-reasons",
  fieldset: {
    legend: {
      text: "Select the reason for moving to PIPCS",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "alternative-format-needed",
      text: "Alternative format needed"
    },
    {
      value: "applicant-gets-other-benefits",
      text: "Applicant gets other benefits"
    },
    {
      value: "appointee-added",
      text: "Appointee added"
    },
    {
      value: "change-of-personal-details",
      text: "Change of personal details"
    },
    {
      value: "claimant-did-not-receive-payment",
      text: "Claimant did not receive payment"
    },
    {
      value: "death-of-applicant-or-claimant",
      text: "Death of applicant or claimant"
    },
    {
      value: "details-do-not-match-searchlight-record",
      text: "Details do not match Searchlight record"
    },
    {
      value: "evidence-of-fraud",
      text: "Evidence of fraud"
    },
    {
      value: "health-assessment-could-not-be-completed",
      text: "Health assessment could not be completed"
    },
    {
      value: "immigration-status",
      text: "Immigration status"
    },
    {
      value: "kcis-marker",
      text: "Keep customer interactions safe (KCIS) marker"
    },
    {
      value: "mandatory-reconsideration",
      text: "Mandatory reconsideration"
    },
    {
      value: "new-evidence-sent-after-decision",
      text: "New evidence sent after decision"
    },
    {
      value: "new-motability-agreement",
      text: "New Motability agreement"
    },
    {
      value: "residence-and-presence-criteria",
      text: "Residence and presence criteria"
    },
    {
      value: "request-for-split-payment",
      text: "Request for split payment"
    },
    {
      value: "special-rules-for-end-of-life",
      text: "Special rules for end of life (SREL)"
    },
    {
      value: "stays-in-prison-hospital-or-other-accommodation",
      text: "Stays in prison, hospital or other accommodation"
    },
    {
      value: "withdrawn-claim",
      text: "Withdrawn claim"
    },
    {
      value: "working-abroad",
      text: "Working abroad"
    },
    {
      value: "other",
      text: "Other"
    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}



    </div>
  </div>
{% endblock %}
