{% set pageTitle = " Move to PIPCS - PIP Service" %}
{% extends "layouts/pips-nav.html" %}



{% block containerStart %}{% endblock %}

{% block content %}

<form class="form" action="" method="post">

    <h1 class="govuk-heading-xl">Move to PIPCS</h1>
    <p class="govuk-body">Select ‘Identified need to move to PIPCS’ in event history to complete this action </p>

    <br>




{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue", 
  href: ""
}) }}

    <p class="govuk-body">(End of prototype.) </p>


    </div>
  </div>
{% endblock %}
