//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.pips-header {
  background: #000;
  padding: 20px 0;
}

.pips-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pips-header__service-name,
.pips-header__link {
  color: #fff;
}

.pips-header__link {
  text-decoration: none;
  font-weight: 700;
}

.pips-header__link:hover {
  text-decoration: underline;
}