{% set breadcrumbs = [
  {
    text: "Make a decision",
    href: "/v1/make-a-decision/make-a-decision-tasklist-full"
  },
  {
    text: "
Daily living activities"
  }
] %}
{% set question = "Which descriptor do you want to select for dressing and undressing?" %}

{% set descriptorField = "dressingUndressingDescriptor" %}

{% set radioItems = [
  {
    value: "0",
    text: "Descriptor A (0 points)",
    hint: {
      text: "	
Can dress and undress unaided."
    }
  },
  {
    value: "2",
    text: "Descriptor B (2 points)",
    hint: {
      text: "Needs to use an aid or appliance to be able to dress or undress. "
    }
  },
  {
    value: "2",
    text: "Descriptor C (2 points)",
    hint: {
      text: "Needs either: prompting to be able to dress, undress or determine appropriate circumstances for remaining clothed; or prompting or assistance to be able to select appropriate clothing"
    }
  },
  {
    value: "2",
    text: "Descriptor D (2 points)",
    hint: {
      text: "Needs assistance to be able to dress or undress their lower body."
    }
  },
  {
    value: "4",
    text: "Descriptor E (4 points)",
    hint: {
      text: "	Needs assistance to be able to dress or undress their upper body."
    }
  },
  {
    value: "8",
    text: "Descriptor F (8 points)",
    hint: {
      text: "Cannot dress or undress at all."
    }
  }
] %}

{% extends "layouts/descriptor.html" %}