{% set breadcrumbs = [
  {
    text: "Make a decision",
    href: "/v1/make-a-decision/make-a-decision-tasklist-full"
  },
  {
    text: "
Daily living activities"
  }
] %}

{% set question = "Which descriptor do you want to select for washing and bathing?" %}

{% set descriptorField = "washingBathingDescriptor" %}

{% set radioItems = [
  {
    value: "Descriptor A (0 points)",
    text: "Descriptor A (0 points)",
    hint: {
      text: "	
Can wash and bathe unaided. "
    }
  },
  {
    value: "Descriptor B (2 points)",
    text: "Descriptor B (2 points)",
    hint: {
      text: "Needs to use an aid or appliance to be able to wash or bathe. "
    }
  },
  {
    value: "Descriptor C (2 points)",
    text: "Descriptor C (2 points)",
    hint: {
      text: "Needs supervision or prompting to be able to wash or bathe."
    }
  },
  {
    value: "Descriptor D (2 points)",
    text: "Descriptor D (2 points)",
    hint: {
      text: "Needs assistance to be able to wash either their hair, or body below the waist."
    }
  },
  {
    value: "Descriptor E (3 points)",
    text: "Descriptor E (3 points)",
    hint: {
      text: "Needs assistance to be able to get in or out of a bath or shower."
    }
  },
  {
    value: "Descriptor F (8 points)",
    text: "Descriptor F (8 points)",
    hint: {
      text: "Needs assistance to be able to wash their body between the shoulders and waist."
    }
  }
] %}

{% extends "layouts/descriptor.html" %}