{% extends "layouts/pips-nav.html" %}

{% block content %}

<div class="govuk-width-container">

  <h1 class="govuk-heading-xl">
    My home page
  </h1>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">

      <p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--no-visited-state">Processing</a>
</p>

      <p class="govuk-body">
  <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Go to DWP task (opens in new tab)</a>
</p>

      <p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--no-visited-state">Prepare an application for an assessment provider</a>
</p>

      <p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--no-visited-state">Prepare an application for decision</a>
</p>

      <p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--no-visited-state">View my open tasks</a>
</p>

    </div>

    <div class="govuk-grid-column-one-half">

      <h2 class="govuk-heading-m">
        Search
      </h2>

      <p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--no-visited-state">Find an applicant or claimant</a>
</p>

      <p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--no-visited-state">View all applications</a>
</p>

      <p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--no-visited-state">View awarded claims</a>
</p>

    </div>

  </div>

</div>

{% endblock %}