{% set pageTitle = "Do they have any stays in care homes? - PIP Service" %}
{% set breadcrumbs = [
  {
    text: "Make a decision",
    href: "/v1/make-a-decision/make-a-decision-tasklist"
  },
  {
    text: "Payability checks"
  }
] %}

{% extends "layouts/pips-nav.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block content %}

<form class="form" action="/payability-q2-answer" method="post">


  <div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds">


      {{ govukRadios({
        classes: "govuk-radios govuk-!-margin-bottom-4",
        name: "care-home",
        value: data['care-home'],
        fieldset: {
          legend: {
            html: "Do they have any stays in care homes?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Check the health information gather (PIP2)."
        },
        items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        },
        {
          value: "pause",
          text: "I need to come back to this later"
        }
        ]
        }) }}

        <!-- text: "Yes, but they are self-funding", -->


        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-bottom-8"
        }) }}


    </div>
  </div>




  </form>

  <p class="govuk-body">
  <a href="/v1/move-to-pipcs/move-to-pipcs" class="govuk-link govuk-link--no-visited-state">I cannot process this application</a>
</p>

{% endblock %}
