{% extends "layouts/pips-nav.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block content %}

<form class="form" action="/payability-q4-answer" method="post">


  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">


      {{ govukRadios({
        classes: "govuk-radios govuk-!-margin-bottom-4",
        name: "rescol-stay",
        value: data['rescol-stay'],
        fieldset: {
          legend: {
            html: "Do they have any stays in residential schools or colleges?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Check the health information gather (PIP2)."
        },
        items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        },
        {
          value: "Pause",
          text: "I need to come back to this later"
        }
        ]
        }) }}


        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-bottom-8"
        }) }}


    </div>
  </div>




  </form>

{% endblock %}
