{% extends "layouts/pips-nav.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
  Jeff Bridges
</h1>

<p class="govuk-body">
  NA 11 22 33 C
</p>

<br>

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "whereDoYouLive",
  fieldset: {
    legend: {
      text: "How long do you want to put this task on hold for?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
    {
      value: "england",
      text: "1 day"
    },
    {
      value: "scotland",
      text: "1 week"
    },
    {
      value: "wales",
      text: "2 weeks"
    },
    {
      value: "northern-ireland",
      text: "1 month"
    },
    {
      divider: "or"
    },
    {
      value: "abroad",
      text: "Other"
    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue",
  href: "/v1/pips/agent-home-on-hold-success"
}) }}



    </div>
  </div>
{% endblock %}
