{% extends "layouts/pips-nav.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
  Jeff Bridges
</h1>

<p class="govuk-body">
  NA 11 22 33 C
</p>

<br>
<form action="/daily-living-nine-months-answer" method="post">


{{ govukRadios({
  name: "dailyLivingForNineMonths",
  fieldset: {
    legend: {
      text: "Is the applicant likely to have daily living restrictions 9 months after 1 January 2024?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "The assessment provider indicated they are likely to have daily living restrictions 9 months after their assessment on undefined undefined undefined."
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No – the restrictions are unlikely to last 9 months"
    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}

</form>

    </div>
  </div>

  <p class="govuk-body">
  <a href="/v1/move-to-pipcs/move-to-pipcs-half-tasklist" class="govuk-link govuk-link--no-visited-state">I cannot process this application</a>
</p>
{% endblock %}
