{% extends "layouts/pips-nav.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
  Jeff Bridges
</h1>

<p class="govuk-body">
  NA 11 22 33 C
</p>

      <h1 class="govuk-heading-l">Check the information you are adding to the decision letter</h1>

      <h2 class="govuk-heading-m">Outcome</h2>
      <p class="govuk-body">[XX] points for daily living means the applicant...</p>
      <br>
      <p class="govuk-body">XX] points for mobility means the applicant...</p>
      <br>
      <p class="govuk-body">The applicant will not be given PIP</p>


      <h2 class="govuk-heading-m">Qualifying period and prospective test</h2>

      <h2 class="govuk-heading-m">Supporting documents</h2>

      <h2 class="govuk-heading-m">Daily living scoring</h2>

      <h2 class="govuk-heading-m">Mobility scoring</h2>

      <h2 class="govuk-heading-m">What you need to do now</h2>
      <p class="govuk-body">Select the appropriate letter template and copy the information on this page to the relevant sections</p>
      <br>
      <p class="govuk-body">You will then need to send the letter to the applicant. Their address is in their registration (PIP1).</p>


      <p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--no-visited-state">I cannot process this application</a>
</p>

    </div>
  </div>
{% endblock %}
