{% set pageTitle = "What health conditions or disabilities do you have?" %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="done" method="post">




        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Health conditions or disabilities</h1>

        <!-- <table class="govuk-table">

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 50%">Condition or disability</th>
              <td class="govuk-table__cell" style="width: 40%">Cystic fibrosis</td>
              <td class="govuk-table__cell" style="width: 20%"><a href="health-condition-primary-search">Change</a></td>

            </tr>

          </tbody>
        </table> -->



        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width: 80%">Primary condition</th>
              <th scope="col" class="govuk-table__header" style="width: 10%"></th>
              <th scope="col" class="govuk-table__header" style="width: 10%"></th>
            </tr>
          </thead>

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">

                {% if data["health-condition-list-1"] %}
                  {{ data["health-condition-list-1"]}}

                {% else %}
                  Other or unspecified neurological disorders

                {% endif %}

              </td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"><a href="health-condition-primary-search">Change</a></td>
            </tr>


          </tbody>
        </table>



        {% if data["health-condition-list-2"] or data["health-condition-list-3"] or data["health-condition-list-4"] or data["health-condition-list-5"]%}

        If more than one
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width: 80%">Other conditions</th>
              <th scope="col" class="govuk-table__header" style="width: 10%"></th>
              <th scope="col" class="govuk-table__header" style="width: 10%"></th>
            </tr>
          </thead>


          {% if data["health-condition-remove-2"] == "Yes" and data["health-condition-list-2"]%}
          {% elif data["health-condition-list-2"] %}

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">{{ data["health-condition-list-2"]}} </td>
              <td class="govuk-table__cell"><a href="health-condition-list-2">Change</a></td>
              <td class="govuk-table__cell"><a href="health-condition-remove-2">Remove</a></td>
            </tr>
          </tbody>

          {% else %}
          {% endif %}

          {% if data["health-condition-remove-3"] == "Yes" and data["health-condition-list-3"]%}
          {% elif data["health-condition-list-3"] %}

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">{{ data["health-condition-list-3"]}} </td>
              <td class="govuk-table__cell"><a href="health-condition-list-3">Change</a></td>
              <td class="govuk-table__cell"><a href="health-condition-remove-3">Remove</a></td>
            </tr>
          </tbody>

          {% else %}
          {% endif %}


          {% if data["health-condition-remove-4"] == "Yes" and data["health-condition-list-4"]%}
          {% elif data["health-condition-list-4"] %}

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">{{ data["health-condition-list-4"]}} </td>
              <td class="govuk-table__cell"><a href="health-condition-list-4">Change</a></td>
              <td class="govuk-table__cell"><a href="health-condition-remove-4">Remove</a></td>
            </tr>
          </tbody>


          {% else %}
          {% endif %}

          {% if data["health-condition-remove-5"] == "Yes" and data["health-condition-list-5"]%}
          {% elif data["health-condition-list-5"] %}

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">{{ data["health-condition-list-5"]}} </td>
              <td class="govuk-table__cell"><a href="health-condition-list-5">Change</a></td>
              <td class="govuk-table__cell"><a href="health-condition-remove-5">Remove</a></td>
            </tr>
          </tbody>

          {% else %}
          {% endif %}

        </table>


      {% else %}

      {% endif %}




        <a href="done" type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </a>
        &nbsp

        <!-- <a href="health-condition-condition-3-search" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add another condition or disability
        </a> -->








    </div>
    </form>


  </div>
</div>
{% endblock %}
