{% set pageTitle = " Make a decision - PIP Service" %}
{% extends "layouts/pips-nav.html" %}

{% block content %}

{% set dailyLivingDone =
  data.preparingFoodStatus == "Done" and
  data.takingNutritionStatus == "Done" and
  data.managingTherapyStatus == "Done" and
  data.washingBathingStatus == "Done" and
  data.toiletNeedsStatus == "Done" and
  data.dressingUndressingStatus == "Done" and
  data.communicateVerballyStatus == "Done" and
  data.readUnderstandStatus == "Done" and
  data.engagingOthersStatus == "Done" and
  data.budgetDecisionsStatus == "Done"
%}

{% set mobilityDone =
  data.planningJourneysStatus == "Done" and
  data.movingAroundStatus == "Done"
%}

{% set doneStatus = {
  text: "Done"
} %}

{% set issueStatus = {
  tag: {
    text: "Issue",
    classes: "govuk-tag--red"
  }
} %}

{% set inProgressStatus = {
  tag: {
    text: "In progress",
    classes: "govuk-tag--yellow"
  }
} %}

{% set toDoStatus = {
  tag: {
    text: "To do",
    classes: "govuk-tag--blue"
  }
} %}
{% set dailyLivingStatus =
  issueStatus if (
    data['dailyLivingQualifyingPeriod'] != 'yes'
    and data['dailyLivingQualifyingPeriod']
  )
  else (
    issueStatus if (
      data['dailyLivingForNineMonths'] == 'no'
    )
    else (
      doneStatus if (
        data['dailyLivingQualifyingPeriod'] == 'yes'
        and data['dailyLivingForNineMonths'] == 'yes'
      )
      else (
        inProgressStatus if data['dailyLivingQualifyingPeriod']
        else toDoStatus
      )
    )
  )
%}

{% set mobilityStatus =
  issueStatus if (
    data['mobilityQualifyingPeriod'] != 'yes'
    and data['mobilityQualifyingPeriod']
  )
  else (
    issueStatus if (
      data['mobilityLikelyToContinue'] == 'no-not-likely'
    )
    else (
      doneStatus if (
        data['mobilityQualifyingPeriod'] == 'yes'
        and data['mobilityLikelyToContinue'] == 'yes'
      )
      else (
        inProgressStatus if data['mobilityQualifyingPeriod']
        else toDoStatus
      )
    )
  )
%}

{% set moveToPIPCS =
  (
    (
      (data['dailyLivingQualifyingPeriod'] and data['dailyLivingQualifyingPeriod'] != 'yes')
      or data['dailyLivingForNineMonths'] == 'no'
    )
    or
    (
      (data['mobilityQualifyingPeriod'] and data['mobilityQualifyingPeriod'] != 'yes')
      or data['mobilityLikelyToContinue'] == 'no'
    )
  )
  or data['hospital-stay'] == 'yes'
  or data['care-home'] == 'yes'
  or data['nursing-home'] == 'yes'
  or data['rescol-stay'] == 'yes'
  or data['prison-stay'] == 'yes'
%}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">Make a decision</h1>

      <h2 class="govuk-heading-m">Review supporting documents</h2>

      

      {# To switch between the Done and To do statues, use some inline logic within the component below, like this: "status: (doneStatus if ... else toDoStatus)" #}

      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Review information and select documents used"
            },
            href: "/v1/make-a-decision/review-and-select-evidence-used"
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Confirm qualifying period and prospective test</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Daily living"
            },
            href: "/v1/pips/qppts-daily-living-q1",
            status: dailyLivingStatus
          },
          {
            title: {
              text: "Mobility"
            },
            href: "/v1/pips/qppts-mobility-q1",
            status: mobilityStatus
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Complete payability checks</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Hospital or similar institutions"
            },
            href: "/v1/pips/payability-q1",
            status: (doneStatus if data['hospitalStayStatus'] else toDoStatus)
          },
          {
            title: {
              text: "Care homes"
            },
            href: "/v1/pips/payability-q2",
            status: (doneStatus if data['careHomeStatus'] else toDoStatus)
          },
          {
            title: {
              text: "Nursing homes"
            },
            href: "/v1/pips/payability-q3",
            status: (doneStatus if data['nursingHomeStatus'] else toDoStatus)
          },
          {
            title: {
              text: "Residential schools or colleges"
            },
            href: "/v1/pips/payability-q4",
            status: (doneStatus if data['rescolStayStatus'] else toDoStatus)
          },
          {
            title: {
              text: "Prison or legal custody"
            },
            href: "/v1/pips/payability-q5",
            status: (doneStatus if data['prisonStayStatus'] else toDoStatus)
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Help with your decision</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Get support or request more evidence"
            },
            href: "/v1/dmwa-tools/select-dmf-tool-from-full-tasklist"
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Record health conditions or disabilities</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Health conditions or disabilities"
            },
            href: "/v1/about-your-health/rds-picker",
            status: (doneStatus if data['primaryCondition'] or data['primaryConditionManual'] else toDoStatus)
          }
        ]
      }) }}
      <br>

      {% from "govuk/components/table/macro.njk" import govukTable %}
                  <h2 class="govuk-heading-m govuk-!-margin-top-5">Select and justify a descriptor for each daily living activity</h2>

      
    {{ govukTable({
  firstCellIsHeader: false,
  head: [
    {
      text: "Activity"
    },
    {
      text: "Score",
      format: "numeric"
    },
    {
      text: "Status"
    }
  ],
  rows: [
    [
      {
        html: '<a href="/v1/activity-descriptors/preparing-food">Preparing food</a>'
      },
      {
        text: "0",
        format: "numeric"
      },
      {
  html: (
    'Done'
    if data.preparingFoodStatus == "Done"
    else
    '<strong class="govuk-tag govuk-tag--blue">To do</strong>'
  )
}
    ],
    [
      {
        html: '<a href="/v1/activity-descriptors/taking-nutrition">Taking nutrition</a>'
      },
      {
        text: "0",
        format: "numeric"
      },
      {
  html: (
    'Done'
    if data.takingNutritionStatus == "Done"
    else
    '<strong class="govuk-tag govuk-tag--blue">To do</strong>'
  )
}
    ],
    [
  {
     html: '<a href="/v1/activity-descriptors/managing-therapy">Managing therapy and monitoring a health condition</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Done'
    if data.managingTherapyStatus == "Done"
    else
    '<strong class="govuk-tag govuk-tag--blue">To do</strong>'
  )
  }
],
    [
  {
     html: '<a href="/v1/activity-descriptors/washing-and-bathing">Washing and bathing</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Done'
    if data.washingBathingStatus == "Done"
    else
    '<strong class="govuk-tag govuk-tag--blue">To do</strong>'
  )
  }
],
    [
  {
     html: '<a href="/v1/activity-descriptors/toilet-needs">Managing toilet needs and incontinence</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Done'
    if data.toiletNeedsStatus == "Done"
    else
    '<strong class="govuk-tag govuk-tag--blue">To do</strong>'

  )
  }
],
    [
  {
     html: '<a href="/v1/activity-descriptors/dressing-undressing">Dressing and undressing</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Done'
    if data.dressingUndressingStatus == "Done"
    else
    '<strong class="govuk-tag govuk-tag--blue">To do</strong>'
  )
  }
],
    [
  {
     html: '<a href="/v1/activity-descriptors/communicate-verbally">Communicating verbally</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Done'
    if data.communicateVerballyStatus == "Done"
    else
    '<strong class="govuk-tag govuk-tag--blue">To do</strong>'
  )
  }
],
    [
  {
     html: '<a href="/v1/activity-descriptors/read-understand">Reading and understanding signs, symbols and words</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Done'
    if data.readUnderstandStatus == "Done"
    else
    '<strong class="govuk-tag govuk-tag--blue">To do</strong>'
  )
  }
],
    [
  {
     html: '<a href="/v1/activity-descriptors/engaging-others">Engaging with other people face to face</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Done'
    if data.engagingOthersStatus == "Done"
    else
    '<strong class="govuk-tag govuk-tag--blue">To do</strong>'

  )
  }
],
    [
  {
     html: '<a href="/v1/activity-descriptors/budget-decisions">Making budgeting decisions</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Done'
    if data.budgetDecisionsStatus == "Done"
    else
    '<strong class="govuk-tag govuk-tag--blue">To do</strong>'
  )
  }
],
[
  {
    html: '<strong>Score total</strong>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    text: ""
  }
]
  ]
}) }}

      {% from "govuk/components/table/macro.njk" import govukTable %}
                        <h2 class="govuk-heading-m govuk-!-margin-top-5">Select and justify a descriptor for each mobility activity</h2>

    {{ govukTable({
  firstCellIsHeader: false,
  head: [
    {
      text: "Activity"
    },
    {
      text: "Score",
      format: "numeric"
    },
    {
      text: "Status"
    }
  ],
  rows: [
    [
      {
        html: '<a href="/v1/activity-descriptors/mobility/planning-journeys">Planning and following journeys</a>'
      },
      {
        text: "0",
        format: "numeric"
      },
      {
        html: (
    'Done'
    if data.planningJourneysStatus == "Done"
    else
    '<strong class="govuk-tag govuk-tag--blue">To do</strong>'
  )
      }
    ],
    [
      {
        html: '<a href="/v1/activity-descriptors/mobility/moving-around">Moving around</a>'
      },
      {
        text: "0",
        format: "numeric"
      },
      {
        html: (
    'Done'
    if data.movingAroundStatus == "Done"
    else
    '<strong class="govuk-tag govuk-tag--blue">To do</strong>'
  )
      }
    ],
[
  {
    html: '<strong>Score total</strong>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    text: ""
  }
]
  ]
}) }}

{% if dailyLivingDone and mobilityDone %}
<h1 class="govuk-heading-m">You have selected and justified your descriptors-</h1>
<p class="govuk-body">This applicant will be awarded PIP</p>

{{ govukButton({
  text: "Continue",
  href: "/v1/make-a-decision/standard-three-yr-award-q"
}) }}

{% endif %}


      {% if moveToPIPCS %}

<h2 class="govuk-heading-m">This application needs to move to PIPCS</h2>

<p class="govuk-body">
  We are currently unable to process it in this service.
</p>

{{ govukButton({
  text: "Continue",
  href: "/v1/move-to-pipcs/move-to-pipcs-full-tasklist"
}) }}

{% else %}

<p class="govuk-body">
  <a href="/v1/move-to-pipcs/move-to-pipcs-full-tasklist"not process this application>
  </a>
</p>

{% endif %}


    </div>
  </div>
{% endblock %}
