{% extends "layouts/pips-nav.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">Make a decision</h1>

      <h2 class="govuk-heading-m">Supporting evidence</h2>

      {% set completedStatus = {
        text: "Completed"
      } %}

      {% set incompleteStatus = {
        tag: {
          text: "Incomplete",
          classes: "govuk-tag--blue"
        }
      } %}

      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}

      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Review and select evidence used"
            },
            href: "/v1/make-a-decision/review-and-select-evidence-used",
            status: incompleteStatus
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Qualifying period and prospective test</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Daily living"
            },
            href: "/v1/pips/qppts-daily-living-q1",
            status: (completedStatus if dailyLivingComplete else incompleteStatus)
          },
          {
            title: {
              text: "Mobility"
            },
            href: "/v1/pips/qppts-mobility-q1",
            status: (completedStatus if mobilityComplete else incompleteStatus)
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Payability checks</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Hospital or similar institutions"
            },
            href: "/v1/pips/payability-q1",
            status: (completedStatus if data['hospitalStayStatus'] else incompleteStatus)
          },
          {
            title: {
              text: "Care homes"
            },
            href: "/v1/pips/payability-q2",
            status: (completedStatus if data['careHomeStatus'] else incompleteStatus)
          },
          {
            title: {
              text: "Nursing homes"
            },
            href: "/v1/pips/payability-q3",
            status: (completedStatus if data['nursingHomeStatus'] else incompleteStatus)
          },
          {
            title: {
              text: "Residential schools or colleges"
            },
            href: "/v1/pips/payability-q4",
            status: (completedStatus if data['rescolStayStatus'] else incompleteStatus)
          },
          {
            title: {
              text: "Prison or legal custody"
            },
            href: "/v1/pips/payability-q5",
            status: (completedStatus if data['prisonStayStatus'] else incompleteStatus)
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Help with your decision</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Get support or request more evidence"
            },
            href: "/v1/dmwa-tools/select-dmf-tool-2"
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Health conditions or disabilities</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Record health conditions or disabilities"
            },
            href: "#",
            status: incompleteStatus
          }
        ]
      }) }}

      {% from "govuk/components/table/macro.njk" import govukTable %}
      
    {{ govukTable({
  firstCellIsHeader: false,
  head: [
    {
      text: "Daily living activities"
    },
    {
      text: "Score",
      format: "numeric"
    },
    {
      text: "Status"
    }
  ],
  rows: [
    [
      {
        html: '<a href="/v1/activity-descriptors/preparing-food">Preparing food</a>'
      },
      {
        text: "0",
        format: "numeric"
      },
      {
  html: (
    'Completed'
    if data.preparingFoodStatus == "Complete"
    else
    '<strong class="govuk-tag govuk-tag--blue">Incomplete</strong>'
  )
}
    ],
    [
      {
        html: '<a href="/v1/activity-descriptors/taking-nutrition">Taking nutrition</a>'
      },
      {
        text: "0",
        format: "numeric"
      },
      {
  html: (
    'Completed'
    if data.takingNutritionStatus == "Complete"
    else
    '<strong class="govuk-tag govuk-tag--blue">Incomplete</strong>'
  )
}
    ],
    [
  {
     html: '<a href="/v1/activity-descriptors/managing-therapy">Managing therapy and monitoring a health condition</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Completed'
    if data.managingTherapyStatus == "Complete"
    else
    '<strong class="govuk-tag govuk-tag--blue">Incomplete</strong>'
  )
  }
],
    [
  {
     html: '<a href="/v1/activity-descriptors/washing-and-bathing">Washing and bathing</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Completed'
    if data.washingBathingStatus == "Complete"
    else
    '<strong class="govuk-tag govuk-tag--blue">Incomplete</strong>'
  )
  }
],
    [
  {
     html: '<a href="/v1/activity-descriptors/toilet-needs">Managing toilet needs and incontinence</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Completed'
    if data.toiletNeedsStatus == "Complete"
    else
    '<strong class="govuk-tag govuk-tag--blue">Incomplete</strong>'
  )
  }
],
    [
  {
     html: '<a href="/v1/activity-descriptors/dressing-undressing">Dressing and undressing</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Completed'
    if data.dressingUndressingStatus == "Complete"
    else
    '<strong class="govuk-tag govuk-tag--blue">Incomplete</strong>'
  )
  }
],
    [
  {
     html: '<a href="/v1/activity-descriptors/communicate-verbally">Communicating verbally</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Completed'
    if data.communicateVerballyStatus == "Complete"
    else
    '<strong class="govuk-tag govuk-tag--blue">Incomplete</strong>'
  )
  }
],
    [
  {
     html: '<a href="/v1/activity-descriptors/read-understand">Reading and understanding</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Completed'
    if data.readUnderstandStatus == "Complete"
    else
    '<strong class="govuk-tag govuk-tag--blue">Incomplete</strong>'
  )
  }
],
    [
  {
     html: '<a href="/v1/activity-descriptors/engaging-others">Engaging with other people face to face</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Completed'
    if data.engagingOthersStatus == "Complete"
    else
    '<strong class="govuk-tag govuk-tag--blue">Incomplete</strong>'
  )
  }
],
    [
  {
     html: '<a href="/v1/activity-descriptors/budget-decisions">Making budgeting decisions</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Completed'
    if data.budgetDecisionsStatus == "Complete"
    else
    '<strong class="govuk-tag govuk-tag--blue">Incomplete</strong>'
  )
  }
],
[
  {
    html: '<strong>Score total</strong>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    text: ""
  }
]
  ]
}) }}

      {% from "govuk/components/table/macro.njk" import govukTable %}
      
    {{ govukTable({
  firstCellIsHeader: false,
  head: [
    {
      text: "Mobility activities"
    },
    {
      text: "Score",
      format: "numeric"
    },
    {
      text: "Status"
    }
  ],
  rows: [
    [
      {
        html: '<a href="/v1/activity-descriptors/mobility/planning-journeys">Planning and following journeys</a>'
      },
      {
        text: "0",
        format: "numeric"
      },
      {
        html: (
    'Completed'
    if data.planningJourneysStatus == "Complete"
    else
   '<strong class="govuk-tag govuk-tag--blue">Incomplete</strong>'
  )
      }
    ],
    [
      {
        html: '<a href="/v1/activity-descriptors/mobility/moving-around">Moving around</a>'
      },
      {
        text: "0",
        format: "numeric"
      },
      {
        html: (
    'Completed'
    if data.movingAroundStatus == "Complete"
    else
    '<strong class="govuk-tag govuk-tag--blue">Incomplete</strong>'
  )
      }
    ],
[
  {
    html: '<strong>Score total</strong>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    text: ""
  }
]
  ]
}) }}

      <p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--no-visited-state">I cannot process this application</a>
</p>

    </div>
  </div>
{% endblock %}
