{% set pageTitle = " Make a decision - PIP Service" %}
{% extends "layouts/pips-nav.html" %}


{% block containerStart %}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">Make a decision </h1>

      <h2 class="govuk-heading-m">Review supporting documents</h2>

      {% set doneStatus = {
        text: "Done"
      } %}

      {% set toDoStatus = {
        tag: {
          text: "To do",
          classes: "govuk-tag--blue"
        }
      } %}

      {# To switch between the Done and To do statues, use some inline logic within the component below, like this: "status: (doneStatus if ... else toDoStatus)" #}

      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Review information and select documents used"
            },
            href: "/v1/make-a-decision/review-and-select-evidence-used",
            status: toDoStatus
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Confirm qualifying period and prospective test</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Daily living"
            },
            href: "/v1/pips/qppts-daily-living-q1",
            status: (doneStatus if dailyLivingDone else toDoStatus)
          },
          {
            title: {
              text: "Mobility"
            },
            href: "/v1/pips/qppts-mobility-q1",
            status: (doneStatus if mobilityDone else toDoStatus)
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Complete payability checks</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Hospital or similar institutions"
            },
            href: "/v1/pips/payability-q1",
            status: (doneStatus if data['hospitalStayStatus'] else toDoStatus)
          },
          {
            title: {
              text: "Care homes"
            },
            href: "/v1/pips/payability-q2",
            status: (doneStatus if data['careHomeStatus'] else toDoStatus)
          },
          {
            title: {
              text: "Nursing homes"
            },
            href: "/v1/pips/payability-q3",
            status: (doneStatus if data['nursingHomeStatus'] else toDoStatus)
          },
          {
            title: {
              text: "Residential schools or colleges"
            },
            href: "/v1/pips/payability-q4",
            status: (doneStatus if data['rescolStayStatus'] else toDoStatus)
          },
          {
            title: {
              text: "Prison or legal custody"
            },
            href: "/v1/pips/payability-q5",
            status: (doneStatus if data['prisonStayStatus'] else toDoStatus)
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Help with your decision</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Get support or request more evidence"
            },
            href: "/v1/dmwa-tools/select-dmf-tool-2"
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Record health conditions or disabilities</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Health conditions or disabilities"
            },
            href: "#",
            status: toDoStatus
          }
        ]
      }) }}

      <br>
      {% from "govuk/components/table/macro.njk" import govukTable %}
            <h2 class="govuk-heading-m govuk-!-margin-top-5">Select and justify a descriptor for each daily living activity</h2>

    {{ govukTable({
  firstCellIsHeader: false,
  head: [
    {
      text: "Activity"
    },
    {
      text: "Score",
      format: "numeric"
    },
    {
      text: "Status"
    }
  ],
  rows: [
    [
      {
        html: '<a href="/v1/activity-descriptors/preparing-food">Preparing food</a>'
      },
      {
        text: "0",
        format: "numeric"
      },
      {
  html: (
    'Done'
    if data.preparingFoodStatus == "Done"
    else
    '<strong class="govuk-tag govuk-tag--blue">To do</strong>'
  )
}
    ],
    [
      {
        html: '<a href="/v1/activity-descriptors/taking-nutrition">Taking nutrition</a>'
      },
      {
        text: "0",
        format: "numeric"
      },
      {
  html: (
    'Done'
    if data.takingNutritionStatus == "Done"
    else
    '<strong class="govuk-tag govuk-tag--blue">To do</strong>'
  )
}
    ],
    [
  {
     html: '<a href="/v1/activity-descriptors/managing-therapy">Managing therapy and monitoring a health condition</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Done'
    if data.managingTherapyStatus == "Done"
    else
    '<strong class="govuk-tag govuk-tag--blue">To do</strong>'
  )
  }
],
    [
  {
     html: '<a href="/v1/activity-descriptors/washing-and-bathing">Washing and bathing</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Done'
    if data.washingBathingStatus == "Done"
    else
    '<strong class="govuk-tag govuk-tag--blue">To do</strong>'
  )
  }
],
    [
  {
     html: '<a href="/v1/activity-descriptors/toilet-needs">Managing toilet needs and incontinence</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Done'
    if data.toiletNeedsStatus == "Done"
    else
    '<strong class="govuk-tag govuk-tag--blue">To do</strong>'
  )
  }
],
    [
  {
     html: '<a href="/v1/activity-descriptors/dressing-undressing">Dressing and undressing</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Done'
    if data.dressingUndressingStatus == "Done"
    else
    '<strong class="govuk-tag govuk-tag--blue">To do</strong>'
  )
  }
],
    [
  {
     html: '<a href="/v1/activity-descriptors/communicate-verbally">Communicating verbally</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Done'
    if data.communicateVerballyStatus == "Done"
    else
    '<strong class="govuk-tag govuk-tag--blue">To do</strong>'
  )
  }
],
    [
  {
     html: '<a href="/v1/activity-descriptors/read-understand">Reading and understanding signs, symbols and words</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Done'
    if data.readUnderstandStatus == "Done"
    else
    '<strong class="govuk-tag govuk-tag--blue">To do</strong>'
  )
  }
],
    [
  {
     html: '<a href="/v1/activity-descriptors/engaging-others">Engaging with other people face to face</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Done'
    if data.engagingOthersStatus == "Done"
    else
    '<strong class="govuk-tag govuk-tag--blue">To do</strong>'
  )
  }
],
    [
  {
     html: '<a href="/v1/activity-descriptors/budget-decisions">Making budgeting decisions</a>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    html: (
    'Done'
    if data.budgetDecisionsStatus == "Done"
    else
    '<strong class="govuk-tag govuk-tag--blue">To do</strong>'
  )
  }
],
[
  {
    html: '<strong>Score total</strong>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    text: ""
  }
]
  ]
}) }}

      {% from "govuk/components/table/macro.njk" import govukTable %}
            <h2 class="govuk-heading-m govuk-!-margin-top-5">Select and justify a descriptor for each mobility activity</h2>

    {{ govukTable({
  firstCellIsHeader: false,
  head: [
    {
      text: "Activity"
    },
    {
      text: "Score",
      format: "numeric"
    },
    {
      text: "Status"
    }
  ],
  rows: [
    [
      {
        html: '<a href="/v1/activity-descriptors/mobility/planning-journeys">Planning and following journeys</a>'
      },
      {
        text: "0",
        format: "numeric"
      },
      {
        html: (
    'Done'
    if data.planningJourneysStatus == "Done"
    else
   '<strong class="govuk-tag govuk-tag--blue">To do</strong>'
  )
      }
    ],
    [
      {
        html: '<a href="/v1/activity-descriptors/mobility/moving-around">Moving around</a>'
      },
      {
        text: "0",
        format: "numeric"
      },
      {
        html: (
    'Done'
    if data.movingAroundStatus == "Done"
    else
    '<strong class="govuk-tag govuk-tag--blue">To do</strong>'
  )
      }
    ],
[
  {
    html: '<strong>Score total</strong>'
  },
  {
    text: "0",
    format: "numeric"
  },
  {
    text: ""
  }
]
  ]
}) }}

      <p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--no-visited-state">I cannot process this application</a>
</p>

    </div>
  </div>
{% endblock %}
