{% set pageTitle = "page title here" %}
{% extends "layouts/pips-nav.html" %}


{% block containerStart %}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">Make a decision</h1>

      <h2 class="govuk-heading-m">Supporting evidence</h2>

      {% set doneStatus = {
        text: "Done"
      } %}

      {% set toDoStatus = {
        tag: {
          text: "To do",
          classes: "govuk-tag--blue"
        }
      } %}

      {% set dailyLivingDone =
  data['dailyLivingQualifyingPeriod']
  and data['dailyLivingForNineMonths']
%}

{% set mobilityDone =
  data['mobilityQualifyingPeriod']
  and data['mobilityLikelyToContinue']
%}

      {# To switch between the Done and To do statues, use some inline logic within the component below, like this: "status: (doneStatus if ... else toDoStatus)" #}

      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Review and select evidence used"
            },
            href: "/v1/make-a-decision/review-and-select-evidence-used"
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Qualifying period and prospective test</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Daily living"
            },
            href: "/v1/pips/qppts-daily-living-q1",
            status: (doneStatus if dailyLivingDone else toDoStatus)
          },
          {
            title: {
              text: "Mobility"
            },
            href: "/v1/pips/qppts-mobility-q1",
            status: (doneStatus if mobilityDone else toDoStatus)
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Payability checks</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Hospital or similar institutions"
            },
            href: "/v1/pips/payability-q1",
            status: (doneStatus if data['hospitalStayStatus'] else toDoStatus)
          },
          {
            title: {
              text: "Care homes"
            },
            href: "/v1/pips/payability-q2",
            status: (doneStatus if data['careHomeStatus'] else toDoStatus)
          },
          {
            title: {
              text: "Nursing homes"
            },
            href: "/v1/pips/payability-q3",
            status: (doneStatus if data['nursingHomeStatus'] else toDoStatus)
          },
          {
            title: {
              text: "Residential schools or colleges"
            },
            href: "/v1/pips/payability-q4",
            status: (doneStatus if data['rescolStayStatus'] else toDoStatus)
          },
          {
            title: {
              text: "Prison or legal custody"
            },
            href: "/v1/pips/payability-q5",
            status: (doneStatus if data['prisonStayStatus'] else toDoStatus)
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">This application needs to move to PIPCS</h2>
      <p class="govuk-body">We are currently unable to process it in this service.</p>
      {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue", 
  href: "/v1/move-to-pipcs/move-to-pipcs-full-tasklist"
}) }}



    </div>
  </div>
{% endblock %}
