{% extends "layouts/pips-nav.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
  Jeff Bridges
</h1>

<p class="govuk-body">
  NA 11 22 33 C
</p>

      <h1 class="govuk-heading-l">Make a decision</h1>

      <h2 class="govuk-heading-m">Supporting evidence</h2>

      {% set completedStatus = {
        text: "Completed"
      } %}

      {% set incompleteStatus = {
        tag: {
          text: "Incomplete",
          classes: "govuk-tag--blue"
        }
      } %}

      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}

      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Review and select evidence used"
            },
            href: "/v1/make-a-decision/review-and-select-evidence-used",
            status: incompleteStatus
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Qualifying period and prospective test</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Daily living"
            },
            href: "/v1/pips/qppts-daily-living-q1",
            status: (completedStatus if dailyLivingComplete else incompleteStatus)
          },
          {
            title: {
              text: "Motability"
            },
            href: "/v1/pips/qppts-mobility-q1",
            status: (completedStatus if mobilityComplete else incompleteStatus)
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Payability checks</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Hospital or similar institutions"
            },
            href: "/v1/pips/payability-q1",
            status: (completedStatus if data['hospitalStayStatus'] else incompleteStatus)
          },
          {
            title: {
              text: "Care homes"
            },
            href: "/v1/pips/payability-q2",
            status: (completedStatus if data['careHomeStatus'] else incompleteStatus)
          },
          {
            title: {
              text: "Nursing homes"
            },
            href: "/v1/pips/payability-q3",
            status: (completedStatus if data['nursingHomeStatus'] else incompleteStatus)
          },
          {
            title: {
              text: "Residential schools or colleges"
            },
            href: "/v1/pips/payability-q4",
            status: (completedStatus if data['rescolStayStatus'] else incompleteStatus)
          },
          {
            title: {
              text: "Prison or legal custody"
            },
            href: "/v1/pips/payability-q5",
            status: (completedStatus if data['prisonStayStatus'] else incompleteStatus)
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Resources and support</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "DMF tools"
            },
            href: "/v1/dmwa-tools/select-dmf-tool"
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Health conditions or disabilities</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Health conditions or disabilities"
            },
            href: "#"
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Daily living activities</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "-"
            },
            href: "#"
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Mobility activities</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "-"
            },
            href: "#"
          }
        ]
      }) }}


      <p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--no-visited-state">I cannot process this application</a>
</p>

    </div>
  </div>
{% endblock %}
