{% set pageTitle = "page title here" %}
{% set breadcrumbs = [
  {
    text: "Make a decision",
    href: "/v1/make-a-decision/make-a-decision-tasklist-full"
  },
  {
    text: "Standard award"
  }
] %}
{% extends "layouts/pips-nav.html" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<form method="post">

  <div class="govuk-grid-row">


      <!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Submit your application by 3 December 2021

          </p>
        </div>
      </div> -->

<div class="govuk-width-container">
        
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb" style="margin-top: 0;">

</nav>  

<br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l">Is this a standard three year award?</h1>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "standardThreeYear",
  fieldset: {
    legend: {
      html: '
        <p class="govuk-body">Consider whether there is an exception to this such as:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>the person is under 25</li>
          <li>the person is close to State Pension age</li>
          <li>the person has high-level needs which will either stay the same or get worse</li>
          <li>the person has a health condition or disability that is likely to improve</li>
          <li>the person is undergoing or waiting for treatment that will last a period of time</li>
        </ul>'
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}
</form>



        </div></div></div></div>   <p class="govuk-body">
  <a href="/v1/move-to-pipcs/move-to-pipcs-full-tasklist" class="govuk-link govuk-link--no-visited-state">I cannot process this application</a>
</p></main>
        
      </div>

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}
  

{% endblock %}
