{% set pageTitle = "What health conditions or disabilities do you have?" %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post">




        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">End of prototype</h1>

<br>
    
    </div>
    
    </form>


  </div>
</div>
{% endblock %}
