{% extends "layouts/pips-nav.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
  Jeff Bridges
</h1>

<p class="govuk-body">
  NA 11 22 33 C
</p>

<br>

<form class="form" action="/v1/about-your-health/rds-picker-manual-entry" method="post">

      <h1 class="govuk-heading-xl">Enter the primary condition or disability</h1>

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Health condition or disability",
    classes: "govuk-heading-s"
  },
  id: "primaryConditionManual",
  name: "primaryConditionManual"
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}

      <p class="govuk-body">
  <a href="/v1/move-to-pipcs/move-to-pipcs" class="govuk-link govuk-link--no-visited-state">I cannot process this application</a>
</p>

    </div>
  </div>
{% endblock %}