{% extends "layouts/pr-account.html" %}

{% block pageContent %}

<h1 class="govuk-heading-l">
  Applications and decisions
</h1>

<table class="govuk-table">
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Application
      </th>

      <td class="govuk-table__cell">
        Start of application
      </td>

      <td class="govuk-table__cell">
        1 December 2023
      </td>
    </tr>

    {% if data["applicaiton-actions"] == "2" %}

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">Status</td>
      <td class="govuk-table__cell">
        Mandatory reconsideration requested
      </td>
    </tr>

    {% else %}

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">Status</td>
      <td class="govuk-table__cell">
        [Status]
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">Award start date</td>
      <td class="govuk-table__cell">1 December 2023</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">Outcome</td>
      <td class="govuk-table__cell">
        <p class="govuk-body govuk-!-margin-bottom-1">
          Daily living: Standard rate
        </p>
        <p class="govuk-body govuk-!-margin-bottom-0">
          Mobility: Standard rate
        </p>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">
        <a href="/v1/register-mr/decision-overview">
          View decision overview
        </a>
      </td>
      <td class="govuk-table__cell"></td>
    </tr>

    {% endif %}

  </tbody>
</table>

{% endblock %}