{% set pageTitle = " Make a decision - PIP Service" %}
{% extends "layouts/pips-nav.html" %}
{% set breadcrumbs = [
  {
    text: "Make a decision",
    href: "/v1/make-a-decision/make-a-decision-tasklist-full"
  },
  {
    text: "Award review period"
  }
] %}
{% extends "layouts/pips-nav.html" %}

{% block containerStart %}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">Review original decision and supporting documents</h1>
      <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Decision overview (opens in new tab)</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Event history?</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Supporting documents service (opens in a new tab)</a>
  </li>
</ul>



</div>
</div>
{% endblock %}