{% extends "layouts/pr-standard.html" %}

{% set breadcrumbs = [
  {
    text: "Overview",
    href: "/overview"
  },
  {
    text: "Applications and decisions",
    href: "/applications-and-decisions"
  },
  {
    text: "x"
  }
] %}

{% block pageContent %}

<form action="record-1-event-history#an-de-callback-notification" method="post" class="form">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Advise them to call us back</h1>


      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">If the person does not have the time to complete the call today, explain that:

      <ul class="govuk-list govuk-!-font-size-19 govuk-list--bullet govuk-!-margin-bottom-6">
<li>they will need around 30 minutes for the call</li>
        <li>they should call us back on the phone number on their decision letter</li>
          <li>they will need to have received their decision letter</li>
          <!-- <li>we'll register that they've asked us to reconsider their decision</li> -->
      </ul>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">An entry will be added to the event history and decision overview.</p>


      {{ govukButton({
        text: "Finish and close",
        classes: "govuk-!-margin-bottom-8"
      }) }}



  </form>

{% endblock %}