{% extends "layouts/pr-standard.html" %}

{% set breadcrumbs = [
  {
    text: "Overview",
    href: "/overview"
  },
  {
    text: "Applications and decisions",
    href: "/applications-and-decisions"
  },
  {
    text: "x"
  }
] %}

{% block pageContent %}

<form action="/extra-info" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-thirds">


              <!---------- Conditional ---------->

                      {% set ConditionalHtml %}

                      {{ govukTextarea({
                        name: "anything-else-freetext",
                        id: "anything-else-freetext",
                        rows: "4",
                        label: {
                          text: "Record the details of what they would like to tell us",
                          classes: "govuk-label--s",
                          isPageHeading: true
                        },
                        hint: {
                          html: ""
                        }
                      }) }}

                      {% endset -%}

              <!----------  ---------->


        {{ govukRadios({
  idPrefix: "extra-info",
  name: "extra-info",
  classes: "govuk-radios",
  fieldset: {
    legend: {
      html: "Is there anything else they would like to tell us?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes",
      conditional: {
        html: ConditionalHtml
      }
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}




      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}




        </div>
      </div>

  </form>

{% endblock %}