{% extends "layouts/pr-standard.html" %}

{% set breadcrumbs = [
  {
    text: "Overview",
    href: "/overview"
  },
  {
    text: "Applications and decisions",
    href: "/applications-and-decisions"
  },
  {
    text: "x"
  }
] %}

{% block pageContent %}

<form action="" method="post" class="form">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-thirds">


<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Explain how to download the form online</h1>

  <h1 class="govuk-heading-s govuk-!-margin-bottom-2">Advise the person:</h1>
  <ul class="govuk-list govuk-!-font-size-19 govuk-list--bullet govuk-!-margin-bottom-4">
    <li>to go to GOV.UK and use the magnifying glass in the top right corner to search for CRMR1</li>
    <li>that they can download the form and either print it or complete it on screen</li>
    <li>that we will register that they've asked us to reconsider their decision</li>

    <li>We will also send them a copy of their decision letter..</li>


  </ul>



        <h1 class="govuk-heading-s govuk-!-margin-bottom-2">They should return the completed form either:</h1>
        <ul class="govuk-list govuk-!-font-size-19 govuk-list--bullet govuk-!-margin-bottom-4">
          <li>by post to the address at the top of their decision letter</li>
          <li>by logging into their PIP account and and selecting 'Upload supporting evidence'</li>
        </ul>


<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">An entry will be added to the event history and decision overview.</p>


      {{ govukButton({
        text: "Finish and close",
        classes: "govuk-!-margin-bottom-8", 
        href: "/v1/register-mr/event-history-mr-registered-success-banner"
      }) }}



  </form>

{% endblock %}