{% extends "layouts/pr-account.html" %}

{% set successBanner = {
  body: "A mandatory reconsideration has been requested. The person will download and send us a completed CRMR1 form. Notes have been added to the event history."
} %}



{% block pageContent %}

<h1 class="govuk-heading-l">
  Event history
</h1>


    <form action="record-1-event-history-filter-router" method="post" class="form">

      <style>
      #accordion-default > div.govuk-accordion__controls > button {display: none}
      /* #accordion-default-heading-1 > span {display: none} */
      </style>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a class="" href="record-1-event-history-reason" target="">Add a new event</a> to the event history.</p>


<div class="govuk-accordion govuk-!-margin-bottom-0" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Filter by event type
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">

          {{ govukCheckboxes({
          idPrefix: "record-1-event-history-filter",
          name: "record-1-event-history-filter",
          classes: "govuk-checkboxes--small",
          fieldset: {
          legend: {
          text: "Select filter type",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s "
          }
          },
          items: [
          {
          value: "1",
          text: "Inbound calls",
          checked: (data["record-1-event-history-filter"] == "1")
          },
          {
          value: "2",
          text: "Outbound calls",
          checked: (data["record-1-event-history-filter"] == "2")
          },
          {
          value: "3",
          text: "Letters sent",
          checked: (data["record-1-event-history-filter"] == "3")
          },
          {
          value: "4",
          text: "Letters received",
          checked: (data["record-1-event-history-filter"] == "4")
          },
          {
          value: "4",
          text: "Flags and markers",
          checked: (data["record-1-event-history-filter"] == "4")
          }
          ]
          }) }}

          {{ govukButton({
          text: "Apply",
          classes: "govuk-button--secondary govuk-!-margin-bottom-4"
          }) }}

        </div>
        <div class="govuk-grid-column-one-half">

          {{ govukCheckboxes({
          idPrefix: "record-1-event-history-filter",
          name: "record-1-event-history-filter",
          classes: "govuk-checkboxes--small",
          fieldset: {
          legend: {
          text: ".",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s "
          }
          },
          items: [
          {
          value: "c2",
          text: "Current claim",
          checked: (data["record-1-event-history-filter"] == "claim2")
          },
          {
          value: "c2",
          text: "Previous claim",
          checked: (data["record-1-event-history-filter"] == "claim1")
          }
          ]
          }) }}



        </div>



        <div class="govuk-grid-column-full govuk-!-margin-bottom-0">

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible-seperator">

      </div>

    </div>
  </div>
</div>



    <table class="govuk-table govuk-!-margin-top-0">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-33-percent">Date</td>
        <td class="govuk-table__cell govuk-66-percent">Details</td>
        <!-- <td class="govuk-table__cell govuk-20-percent">Actions</td> -->
      </tr>
      </thead>



      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">Today</td>

        <td class="govuk-table__cell table-spacer">
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Inbound call</p>
          <p class="govuk-body govuk-!-margin-bottom-2">Actions taken:

          <ul class="govuk-list govuk-list--bullet">
            <li>Talked through the process of a mandatory reconsideration.</li>
            <li>Manually sent form CRMR1 by post.</li>
          </ul>
        </p>



        </td>
        </tr>
            </table>

          </div>
              </form>

{% endblock %}