{% extends "layouts/pr-standard.html" %}

{% set breadcrumbs = [
  {
    text: "Overview",
    href: "/overview"
  },
  {
    text: "Applications and decisions",
    href: "/applications-and-decisions"
  },
  {
    text: "x"
  }
] %}

{% block pageContent %}


<form action="/send-supporting-docs" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-thirds">

      {{ govukRadios({
        classes: "govuk-radios govuk-!-margin-bottom-4",
        idPrefix: "supporting-documents",
        name: "supporting-documents",
        fieldset: {
          legend: {
            html: "Do they want to send supporting documents which was not available to us when the decision was made?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
        {
          value: "Yes",
          text: "Yes "
        },
        {
          value: "No",
          text: "No"        }
        ]
        }) }}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}