{% extends "layouts/pr-standard.html" %}

{% set breadcrumbs = [
  {
    text: "Overview",
    href: "/overview"
  },
  {
    text: "Applications and decisions",
    href: "/applications-and-decisions"
  },
  {
    text: "x"
  }
] %}

{% block pageContent %}


<form action="/supporting-docs-list" method="post" class="form">

  {% set docsHtml %}

  {{ govukTextarea({
    name: "an-de-select-docs-somethingelse",
    id: "an-de-select-docs-somethingelse",
    rows: "4",
    label: {
      text: "Record the details of any additional supporting documents they want to send",
      classes: "govuk-label--s",
      isPageHeading: true
    },
    hint: {
      html: ""
    }
  }) }}

  {% endset -%}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-thirds">

      {{ govukCheckboxes({
        idPrefix: "supporting-docs-list",
        name: "supporting-docs-list",
        classes: "govuk-checkboxes",
        fieldset: {
          legend: {
            text: "What additional supporting documents do they want to send?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          html: "Select all that apply."
        },
        items: [
        {
          value: "care-home-information",
          text: " Information provided by care home"
        },
        {
          value: "care-plan",
          text: " Care plan"
        },
        {
          value: "cvi",
          text: " Certificate of Vision Impairment (CVI)"
        },
        {
          value: "cmht-information",
          text: " Information provided by community mental health team"
        },
        {
          value: "hp-consultation-report",
          text: " Health professional consultation report"
        },
        {
          value: "customer-compliance-information",
          text: " Information provided by Customer Compliance Officer"
        },
        {
          value: "consultant-letter",
          text: " Letter from consultant"
        },
        {
          value: "consultant-report",
          text: " Report from consultant",
          checked: (data["an-de-select-docs"] == "1")
        },
        {
          value: "consultant-telephone-advice",
          text: " Telephone advice from consultant",
          checked: (data["an-de-select-docs"] == "1")
        },
        {
          value: "counsellor-letter",
          text: " Letter from counsellor",
          checked: (data["an-de-select-docs"] == "1")
        },
        {
          value: "counsellor-report",
          text: " Report from counsellor",
          checked: (data["an-de-select-docs"] == "1")
        },
        {
          value: "counsellor-telephone-advice",
          text: " Telephone advice from counsellor",
          checked: (data["an-de-select-docs"] == "1")
        },
        {
          value: "day-centre-information",
          text: " Information provided by day centre",
          checked: (data["an-de-select-docs"] == "1")
        },
        {
          value: "dla-claim",
          text: " Claim for Disability Living Allowance",
          checked: (data["an-de-select-docs"] == "1")
        },
        {
          value: "enquiry-form",
          text: "Enquiry form",
          checked: (data["an-de-select-docs"] == "1")
        },
        {
          value: "additional-customer-information",
          text: "Extra information applicant gave us",
          checked: (data["an-de-select-docs"] == "1")
        },
        {
          value: "eye-care-report",
          text: " Eye care professional's report",
          checked: (data["an-de-select-docs"] == "1")
        },
        {
          value: "esa-assessment",
          text: " Health care professional assessment for Employment and Support Allowance",
          checked: (data["an-de-select-docs"] == "1")
        },
        {
          value: "fraud-investigation-information",
          text: " Information provided by Fraud Investigation Service",
          checked: (data["an-de-select-docs"] == "1")
        },
        {
          value: "gp-surgery-information",
          text: " Information provided by GP's surgery",
          checked: (data["an-de-select-docs"] == "1")
        },
        {
          value: "gp-letter",
          text: " Letter from GP",
          checked: (data["an-de-select-docs"] == "1")
        },
        {
          value: "gp-report",
          text: " Report from GP",
          checked: (data["an-de-select-docs"] == "1")
        },
        {
          value: "gp-telephone-advice",
          text: " Telephone advice from GP",
          checked: (data["an-de-select-docs"] == "1")
        },
        {
          value: "pip2-form",
          text: "Health information gather (PIP2)",
          checked: (data["an-de-select-docs"] == "1")
        },
          {
            value: "home-office-information",
            text: " Information provided by Home Office"
          },
          {
            value: "hospital-information",
            text: " Information provided by hospital"
          },
          {
            value: "hospital-doctor-letter",
            text: " Letter from hospital doctor"
          },
          {
            value: "hospital-doctor-report",
            text: " Report from hospital doctor"
          },
          {
            value: "hospital-doctor-telephone-advice",
            text: " Telephone advice from hospital doctor"
          },
          {
            value: "incapacity-benefit-assessment",
            text: " Health care professional assessment for Incapacity Benefit"
          },
          {
            value: "interview-under-caution",
            text: "Interview under caution"
          },
          {
            value: "iidb-claim",
            text: " Claim for Industrial Injuries Disablement Benefit"
          },
          {
            value: "jobcentre-plus-information",
            text: "Information provided by Jobcentre Plus"
          },
          {
            value: "local-authority-information",
            text: " Information provided by local authority"
          },
          {
            value: "nurse-information",
            text: " Information provided by nurse"
          },
          {
            value: "ot-letter",
            text: "Letter from occupational therapist"
          },
          {
            value: "ot-report",
            text: " Report from occupational therapist"
          },
          {
            value: "ot-telephone-advice",
            text: " Telephone advice from occupational therapist"
          },
          {
            value: "pension-service-information",
            text: " Information provided by Pension Service"
          },
          {
            value: "pct-information",
            text: " Information provided by Primary Care Trust"
          },
          {
            value: "prison-service-information",
            text: " Information provided by Prison Service"
          },
          {
            value: "cpn-letter",
            text: " Letter from community psychiatric nurse"
          },
          {
            value: "cpn-report",
            text: " Report from community psychiatric nurse"
          },
          {
            value: "cpn-telephone-advice",
            text: " Telephone advice from community psychiatric nurse"
          },
          {
            value: "physiotherapist-letter",
            text: " Letter from physiotherapist"
          },
          {
            value: "physiotherapist-report",
            text: " Report from physiotherapist"
          },
          {
            value: "physiotherapist-telephone-advice",
            text: " Telephone advice from physiotherapist"
          },
          {
            value: "psychiatric-social-worker-letter",
            text: " Letter from psychiatric social worker"
          },
          {
            value: "psychiatric-social-worker-report",
            text: " Report from psychiatric social worker"
          },
          {
            value: "psychiatric-social-worker-telephone-advice",
            text: " Telephone advice from psychiatric social worker"
          },
          {
            value: "psychiatrist-letter",
            text: " Letter from psychiatrist"
          },
          {
            value: "psychiatrist-report",
            text: " Report from psychiatrist"
          },
          {
            value: "psychiatrist-telephone-advice",
            text: " Telephone advice from psychiatrist"
          },
          {
            value: "psychologist-letter",
            text: " Letter from psychologist"
          },
          {
            value: "psychologist-report",
            text: " Report from psychologist"
          },
          {
            value: "psychologist-telephone-advice",
            text: " Telephone advice from psychologist"
          },
          {
            value: "hp-review-report",
            text: " Health professional review report"
          },
          {
            value: "hp-supplementary-advice",
            text: " Health professional supplementary advice"
          },
          {
            value: "school-information",
            text: " Information provided by school"
          },
          {
            value: "social-worker-information",
            text: " Information provided by social worker"
          },
          {
            value: "surveillance-logs",
            text: "Surveillance logs"
          },
          {
            value: "specialist-nurse-letter",
            text: " Letter from specialist nurse"
          },
          {
            value: "specialist-nurse-report",
            text: " Report from specialist nurse"
          },
          {
            value: "specialist-nurse-telephone-advice",
            text: " Telephone advice from specialist nurse"
          },
          {
            value: "teacher-information",
            text: " Information provided by teacher"
          },
          {
            value: "visiting-officer-report",
            text: " Visiting officer's report"
          },
          {
            value: "welfare-rights-information",
            text: " Information provided by Welfare Rights Advisor"
          },
          {
            divider: "or"
          },
          {
            value: "other-document",
            text: "Something else",
            checked: (data["an-de-select-docs"] == "DocsSomethingElse"),
            conditional: {
              html: docsHtml
            }
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}