{% set pageTitle = "Do you need to put this task on hold - PIP Service" %}
{% set breadcrumbs = [
  {
    text: "Make a decision",
    href: "/v1/make-a-decision/make-a-decision-tasklist"
  },
  {
    text: "Get support or request more evidence"
  }
] %}
{% extends "layouts/pips-nav.html" %}



{% block containerStart %}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


<form class="form" action="/task-on-hold-gateway" method="post">

{{ govukRadios({
  name: "signIn",
fieldset: {
  legend: {
    text: "Do you need to put this task on hold?",
    isPageHeading: true,
    classes: "govuk-fieldset__legend--l"
  }
},
hint: {
  html: "
    Put this task on hold if you cannot continue making your decision straight away.
  "
},
items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}

</form>




    </div>
  </div>
{% endblock %}
