{% extends "layouts/main.html" %}

{% set pageName="Scenario selector" %}


{% block content %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "/index"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    

    <form action="/dmwa-scenario-selector" method="post" class="form">

   {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "scenarioSelector",
  fieldset: {
    legend: {
      text: "DMWA scenario selector",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "decision-maker",
      text: "Prepare application for a decision maker"
    },
    {
      value: "mr-review",
      text: "Mandatory reconsideration review"
    }
  ]
}) }}

{{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

      </div>
</div>
</form>

{% endblock %}