{% set pageTitle = "Tell us how your health condition or disability affects you" %}

{% extends "layouts/pips-nav.html" %}
{% block beforeContent %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">


      <!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Submit your application by 3 December 2021

          </p>
        </div>
      </div> -->

<div class="govuk-width-container">
        


          

<br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

      <form action="pip-s-task-overview-3" method="post" class="form">

        <p class="govuk-heading-l govuk-!-margin-bottom-8">Agent dashboard</p>


  


<div class="govuk-button-group">



</div>

<div class="govuk-!-margin-bottom-4" style="border:1px solid #b1b4b6; padding:30px;">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <a href= "" class="govuk-link govuk-link--no-visited-state"> My tasks </a>
  </h2>
  <p class="govuk-body govuk-!-margin-bottom-0">
    Claim and work on tasks.
  </p>
</div>

<div class="govuk-!-margin-bottom-4" style="border:1px solid #b1b4b6; padding:30px;">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <a href= "" class="govuk-link govuk-link--no-visited-state"> My profile </a>
  </h2>
  <p class="govuk-body govuk-!-margin-bottom-0">
View details of teams, groups and attributes.  </p>
</div>

<div class="govuk-!-margin-bottom-4" style="border:1px solid #b1b4b6; padding:30px;">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <a href= "" class="govuk-link govuk-link--no-visited-state"> Search and create </a>
  </h2>
  <p class="govuk-body govuk-!-margin-bottom-0">
Search for and create tasks.  </p>
</div>

<div class="govuk-!-margin-bottom-4" style="border:1px solid #b1b4b6; padding:30px;">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <a href= "" class="govuk-link govuk-link--no-visited-state"> Search for tasks </a>
  </h2>
  <p class="govuk-body govuk-!-margin-bottom-0">
Search for and claim tasks.  </p>
</div>




        </div></div></form></div></div></main>
      </div>

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

{% endblock %}
