{% extends "layouts/dwp-task-nav.html" %}
{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">


      <!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Submit your application by 3 December 2021

          </p>
        </div>
      </div> -->

<div class="govuk-width-container">
        
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb" style="margin-top: 0;">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="dwp-task-all-tasks-claimed">My Personal Independence Payment tasks</a>
    </li>
   
  </ol>
</nav>

          

<br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

      <form action="pip-s-task-overview-3" method="post" class="form">

        <p class="govuk-heading-l govuk-!-margin-bottom-8">Prepare an application for a decision maker</p>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Customer
            </dt>
            <dd class="govuk-summary-list__value">
              Jeff Bridges
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             National Insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              QQ 12 34 56 X
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Task
            </dt>
            <dd class="govuk-summary-list__value">
             Prepare an application for a decision maker
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Due
            </dt>
            <dd class="govuk-summary-list__value">
              None
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Created
            </dt>
            <dd class="govuk-summary-list__value">
              11 Jun 2026
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
               <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--green">Active</strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Put on hold</a>
            </dd>
          </div>
        </dl>
  


<div class="govuk-button-group">

  <a href="/v1/pips/application-overview" role="button" draggable="false" class="govuk-button">
    Open task
  </a>

  <a href="/v1/dwp-task/dwp-task-no-tasks-claimed" role="button" draggable="false" class="govuk-button govuk-button--secondary">
    Return to queue
  </a>

  <a href="dwp-task-all-tasks-claimed" role="button" draggable="false" class="govuk-button govuk-button--secondary">
    Back
  </a>

</div>




        </div></div></form></div></div></main>
      </div>

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

{% endblock %}
