{% set pageTitle = "Tell us how your health condition or disability affects you" %}

{% extends "layouts/pips-nav.html" %}
{% block beforeContent %}
{% endblock %}

{% block content %}







  <div class="govuk-grid-row">


      <!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Submit your application by 3 December 2021

          </p>
        </div>
      </div> -->

<div class="govuk-width-container">
        


          



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form action="dwp-task-decision-task-claimed" method="post" class="form">

        <p class="govuk-heading-l govuk-!-margin-bottom-8">My tasks</p>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

<button type="submit" class="govuk-button" data-module="govuk-button">
  Claim new task
</button>


<div style="display: flex; justify-content: space-between; align-items: flex-end;">

  <!-- LEFT -->
  <div class="govuk-form-group">
    <label class="govuk-label" for="filter">
      Filter your tasks
    </label>

    <div style="display: flex; gap: 10px; align-items: center;">
      <input class="govuk-input" id="filter" name="filter" type="text">
      <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">Filter</button>
    </div>
  </div>

  <!-- RIGHT -->
  <div class="govuk-form-group" style="text-align: right;">
    <label class="govuk-label" for="sort">
      Sort by
    </label>
    <select class="govuk-select" id="sort" name="sort">
      <option>Claimed, newest to oldest</option>
      <option>Claimed, oldest to newest</option>
      <option>Due, soonest to latest</option>
      <option>Due, latest to soonest</option>
      <option>Created, newest to oldest</option>
     <option>Created, oldest to newest</option>


    </select>
  


        </div></div></form></div></div></main>

          <p class="govuk-body">You have not claimed any tasks yet.</p>
          <br>
      </div>

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

{% endblock %}
