{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    </h1>
      <h2 class="govuk-heading-m">Decision making MVP journey</h2>
      <p class="govuk-body">content</p>
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue"
      }) }}


      </div>
</div>

{% endblock %}
