{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block pageTitle %}
  {{ pageTitle or serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{{
    dwpHeader({
        serviceName: "Personal Independence Payment",
        serviceHref: '/v1/pips/agent-home.html',
        action: "My home page",
        actionHref: "#",
        container: true
    })
}}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  text: "This is a prototype."
}) }}

{% if not hideClaimantHeader %}

<div class="govuk-width-container govuk-!-margin-top-4">

  <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
    <a href="" class="govuk-link govuk-link--no-visited-state">
      Jeff Bridges
    </a>
  </h1>

  <p class="govuk-body">
    NA 11 22 33 C
  </p>

  {% if breadcrumbs %}
    {{ govukBreadcrumbs({
      items: breadcrumbs
    }) }}
  {% endif %}

</div>

{% endif %}

{% endblock %}

