<div class="govuk-!-margin-bottom-8">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
    Jeff Bridges
  </h2>

  <p class="govuk-body govuk-!-margin-bottom-0">
    N0 34 66 92 D
  </p>

</div>

<div >
<nav aria-label="Section navigation">

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/v1/pr/pr-overview">Overview</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Event history</a>
  </li>
  <li>
    <a class="govuk-link" href="/v1/pr/applications-and-decisions">Applications and decisions</a>
  </li>
</ul>
<br>
<ul class="govuk-list">
  <li>
<h3 class="govuk-heading-s">Other actions</h3>
  </li>
  <li>
    <a class="govuk-link" href="#">View supplied information</a>
  </li>
</ul>

</nav>
</div>
