{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block pageTitle %}
  {{ pageTitle or serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{
    dwpHeader({
      serviceName: "Personal Independence Payment",
      serviceHref: "",
      action: "My home page",
      actionHref: "#",
      container: true
    })
  }}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    text: "This is a prototype."
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">
      {% include "layouts/pr-account-nav.html" %}
    </div>

    <div class="govuk-grid-column-three-quarters">

  <div style="margin-top: 100px;">

    {% block pageContent %}
    {% endblock %}

  </div>

</div>

</div>

  </div>

</div>

{% endblock %}